<!DOCTYPE html>
<html>
<head>
 <title>
  {{title}}
 </title>
 <script type="text/javascript" src="{{relative_path}}player.js"></script>
 <link rel="stylesheet" type="text/css" href="{{relative_path}}songbook.css" media="screen" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body onload="initPlayer('song')">
<div style="float:left; z-index:13;">
    <a href="../index.html" title="Virtual Campfire">
    <img src="../fsc_roundel.png" alt="FSC Roundel">
    </a>
</div>
<div align="center">
<h1>
  {{title}}
</h1>
   <audio
   id="player"
   type="audio/mpeg"
   style="width:40%; align:center;"
   controls
  >
Sorry: your browser appears to be unable to stream .mp3 audio.
  </audio>
<div style="width:25em; text-align:left; padding-top:1em; border:0px solid red;">
{{lyric}}
</div>
<div style="margin-top:10px; width:100%;  border:0px solid orange;">
{% include "jinja_recording_table.templet" %}
</div>
<p>
Email <a href="mailto:tim.pizey+vc@gmail.com?subject={{title}}">Corrections</a>.
</p>
<p>
Last updated {{dateStamp}}.
</p>
</div>
</body>
</html>

