<!DOCTYPE html>
<html>
 <head>
  <title>Virtual Campfire - {{page_name}}</title>
  <script type="text/javascript" src="player.js"></script>
  <link href="songbook.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body onload="initPlayer('recording_list')">
<div id="banner" style="border:0px solid cyan; background-color:#004400;">
<table width="100%">
<tr><td width="20%">
 <div id="left" style='float:left; width:20%; textalign:left;'>
  <div id="logo">
   <a href="http://glee.org.uk/" >
   <img src="fscfireball.png" alt="Forest School Camps Fireball Logo" height="180px"/>
   </a>
  </div>
 </div>
 </td><td>
 <div id="header" style="text-align:center;width:80%; margin: auto; border:0px solid red;">
  <h2 style="border:0px solid red;"><a href="http://glee.org.uk/virtualcampfire/"
       style="text-decoration:none"
     >Virtual Campfire</a>
  </h2>
  <!--
  <p valign="top" style="border:0px solid red;">
  A place for <a href="http://fsc.org.uk/">Forest School Campers</a>
  to learn and teach traditional songs online.
  </p>
  -->
  <h3 style="text-align: center;">{{page_name}}</h3>
  <p>
   <a href="All_Songs.html">All versions of all songs</a>
  </p>
 </div>
  <audio
   id="player"
   type="audio/mpeg"
   style="width: 90%;align:center;"
   controls
  >
Sorry: your browser appears to be unable to stream .mp3 audio.
  </audio>
</td><td valign="top" width="20%">
 <div id=right style="float:right; border:0px solid red;"><a href="https://github.com/glee-uk/virtualcampfire">
  <img
   align=right decoding="async" width="149" height="149"
   src="https://github.blog/wp-content/uploads/2008/12/forkme_right_green_007200.png"
   alt="Fork me on GitHub" loading="lazy" ></a>
 </div>
</td></tr>
</table>
</div>

<div style="margin-top:210px; width:100%;  border:0px solid orange;">
{% include "jinja_recording_table.templet" %}
</div>
<div style="text-align:center; width:100%; margin: auto; border:0px solid cyan;">
<div style="text-align:left;   width:80%;  margin: auto; border:0px solid pink;">
<p>
Email <a href="mailto:tim.pizey+vc@gmail.com">Tim</a> to contribute songs or feedback.
</p>
<p>
Last updated {{dateStamp}}. {{song_count}} songs.
</p>
</div>
</div>
</body>
</html>
