body {
    background-color:#004000;
    color:white;
    font-family: sans-serif;
}
#logo {
    background:url(fscfireball.jpg) no-repeat 20px 10px;
    width:200px;
    height:260px;
    display:block;
    font-size:16px;
    text-align:center;
}
a:active, a:link, a:visited {
    color: #E5FFB2;

    border: 0px;
    padding: 2px;
}
a:hover {
    color: #E5FFB2;
    border: 0px;
    text-decoration: none;
    padding: 2px;
}
th {
    text-align:left;
    border-bottom:1px solid green;
}

.songname {
    margin: 5px;
    color: #FFFFFF; 
}
#songlist td {
    padding: 4px;
    border-bottom:1px dotted green;
}
#songlist .song {
    border-bottom:1px solid #00CC00;
    border-left:none;
    list-style:none;
}
.song a:link {
    text-decoration:none;
}


#songlist {
    border:2px inset green;
    margin:auto;
    padding:2px;
    width:80%;
}

