html {
  margin: 0px;
}
BODY {
  position: absolute;
  top:12px;
  left: 15px;
  right: 15px;
  margin: 1em;
  padding: 1em;
  border: 1px solid;
  font-family: "Droid Sans", sans-serif;
  line-height: 1.1;
  color: black;
}
DIV#content{
  position: absolute;
  padding: 1px;
  top:26px;
  left: 30px;
  right: 30px;
  margin: 1em;
  padding: 3em;
  border: 2px solid;
  font-family: sans-serif;
  line-height: 1.1;
  color: black;
}

H1, H2, H3, H4, H5, H6, P, UL, OL, DIR, MENU, DIV,
DT, DD, ADDRESS, BLOCKQUOTE, PRE, BR, HR, FORM, DL {
  display: block }

B, STRONG, I, EM, CITE, VAR, TT, CODE, KBD, SAMP,
IMG, SPAN { display: inline }

ul { 
  padding-left: 1px;
}
LI { 
  height: 2em;
  margin-left:1px;
  text-align: left;
}

TD {display: table-cell}
TD {vertical-align: top;}
TD {padding-bottom: 10px;}

H1, H2, H3, H4 { margin-top: 1em; margin-bottom: 1em ;   
}
H5, H6 { margin-top: 1em }
H1, H2 { text-align: center }
H1, H2, H4, H6 { font-weight: bold }
H3, H5 { font-style: italic }

H1 { font-size: xx-large }
H2 { font-size: x-large }
H3 { font-size: large }

/*
H1 { background-color: #efefef; }
H2 { background-color: #efefef; }
H3 { background-color: #efefef; }
*/
B, STRONG { font-weight: bolder }  /* relative to the parent */
I, CITE, EM, VAR, ADDRESS, BLOCKQUOTE { font-style: italic }
PRE, TT, CODE, KBD, SAMP { font-family: monospace }

PRE { white-space: pre }

ADDRESS { margin-left: 3em }
BLOCKQUOTE { margin-left: 5em; margin-right: 5em; border:1px solid;}

UL, DIR { list-style: disc; }
OL { list-style: decimal;}
UL, OL, DIR { 
  padding-top:1em; 
  padding-bottom:1em; 
  margin-left: auto;
  margin-right: auto;
}
MENU { margin: 0 }              /* tight formatting */
LI {  }

DT { margin-bottom: 0 }
DD { margin-top: 0; margin-left: 3em }

HR { border-top: solid }        /* 'border-bottom' could also have been used */

A { 
  padding-left: 2px;
  padding-right: 2px;
}
A:link { color: blue; text-decoration:none; }
A:active { color: lime }

/* setting the anchor border around IMG elements
   requires contextual selectors */

A:link IMG { border: 2px solid blue; }
A:active IMG { border: 2px solid lime }

code {
color: #00dd00;
background-color: #000000;
width: 98%;
display:block;
border-radius: 5px;
border-style:solid;
border-width: 1px;
margin: 2px;
border-color: #009900;
}
tt {
color: #00ff00;
font-size: larger;
}
.fileText {
color: #002200;
background-color: #EEFFEE;
border-color: #88EE88;
width: 90%;
display:block;
border-radius: 5px;
border-style:solid;
border-width:3px;
margin: 10px;
margin-left:20px;
}
.fileName {
color: #002200;
background-color: #88EE88;
border-color: #888888;
border-style:solid;
border-radius: 5px;
border-width: 1px;
margin: 2px;
padding-left: 4px;
padding-right: 4px;
}


